.item-detail {
  margin-top: 40px;
  max-width: 1200px;
  margin: auto;
  padding: 10px;
  display: flex;
  gap: 20px;
  min-height: calc(100vh - 100px);
}
.item-detail-imgs,
.item-detail-body {
  width: 50%;
}
.item-detail-imgs {
  max-height: 500px;
  display: flex;
  overflow: scroll;
}
.item-detail-imgs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.item-detail-imgs::-webkit-scrollbar {
  display: none;
}
.item-detail-basic,
.item-detail-author,
.item-detail-description {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  color: var(--text-color);
}
.item-detail-price {
  font-size: 18px;
  font-weight: 500;
}
.item-detail-title {
  font-size: 14px;
  color: var(--form-text);
}
.item-detail-row-space-between {
  display: flex;
  justify-content: space-between;
}
.item-detail-row-space-between p {
  font-size: 12px;
  color: var(--form-text);
}
.item-detail-author {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-detail-author-name {
  font-weight: 500;
}
.item-detail-description p {
  font-size: 14px;
  color: var(--text-color);
  margin-bottom: 4px;
}
@media only screen and (max-width: 700px) {
  .item-detail {
    flex-direction: column;
  }
  .item-detail-imgs,
  .item-detail-body {
    width: 100%;
  }
  .search-input {
    width: 90vw;
  }
}
