footer {
  width: 100%;
  background-color: var(--dark-blue);
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-text {
  text-align: center;
  font-weight: 300;
  font-size: 10px;
  color: var(--light-white);
}
.footer-text a {
  color: var(--light-white);
}
