:root {
  --primary-color: #8b2fc9;
  --secondary-color: #c086e4;
  --ternary-color: #03071e;
  --dark-blue: #310055;
  --light-white: #fdfffc;
  --dark-black: #000000;
  --form-text: #666;
  --form-container: #494949;
}

.loading {
  width: 100%;
  height: 100vh;
}

.loading-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-container img {
  width: 300px;
}
