:root {
  --primary-color: #8b2fc9;
  --secondary-color: #ab51e3;
  --ternary-color: #03071e;
  --dark-blue: #310055;
  --light-white: #fdfffc;
  --dark-black: #000000;
}

@media only screen and (max-width: 800px) {
  .header-left-brand h2 {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  footer {
    display: none;
  }
}
