:root {
  --primary-color: #03045e;
  --secondary-color: #023e8a;
  --ternary-color: #ffffff;
  --dark-black: #000000;
  --light-black: #565656;
  --light-blue: #4285ea
}

@media only screen and (max-width: 800px) {
  .header-left-brand h2 {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  footer {
    display: none;
  }
}
